<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE11" />
<meta name="renderer" content="webkit" />
<title>省直厅局</title>
<link rel="stylesheet" type="text/css" href="css/index_jcwz.css">
<link rel="stylesheet" type="text/css" href="css/common_2018.css">
<script type="text/javascript" src="http://www.cnhubei.com/js/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="http://www.cnhubei.com/js/jquery.SuperSlide.2.1.1.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">  
 jQuery("#lmy_top_box").slide({ type:"menu",  titCell:".more", targetCell:".sub01", effect:"slideDown", delayTime:100, triggerTime:100  });   
</script> 

<!-- 引入vue -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>

<style>
.jcwz_sztj ul li a{ font-size:13px;}
</style>
</head>

<body>
<div id="jcwz_sztjxg">
<!-- 顶部导航 -->
<div class="lmy_topnav_zw">
 <div class="lmy_top_mini_nav">
  <div id="lmy_top_box">
   <ul class="list_across">
   <li><a href="//www.cnhubei.com/">荆楚网首页</a></li>
   <li><a href="//news.cnhubei.com/">新闻</a></li>  
   <li><a href="//news.cnhubei.com/hbzw/">政务</a></li>    
   <li><a href="http://focus.cnhubei.com/">评论</a></li>
   <li><a href="http://bbs.cnhubei.com/special.php?mod=msrx">问政</a></li>
   <li><a href="http://yq.cnhubei.com/">舆情</a></li>  
   <li><a href="http://bbs.cnhubei.com/portal.php">社区</a></li>
   <li><a href="//www.cnhubei.com/xwzt/index.shtml">财经</a></li>  
   <li><a href="http://v.cnhubei.com/">国内</a></li>
   <li><a href="http://sy.cnhubei.com/">国际</a></li>
   <li><a href="http://health.cnhubei.com/">娱乐</a></li>
   <li><a href="http://edu.cnhubei.com/">视频</a></li>
   <li><a href="http://auto.cnhubei.com/">图片</a></li>
   <li class="more">更多
    <div class="sub01">
     <a href="">党建</a>
     <a href="">文化</a>
     <a href="">体育</a>
     <a href="">微善</a>
     <a href="">教育</a>
     <a href="">健康</a>
     <a href="">滚动</a>
     <a href="">专题</a>
     <a href="">房产</a>
     <a href="">汽车</a>
     <a href="">科普</a>
     <a href="">质量</a>
     <a href="">旅游</a>
     <a href="">商业</a>
     <a href="">讲习所</a>
     <a href="">文明网</a>
     <a href="">荆楚号</a>
     <a href="">青春志</a>
    </div>
   </li> 
   <li class="right"><a href="">手机报</a><span>丨</span><a href="">手机荆楚网</a></li>
  </ul>
  </div>  
 </div>
</div> 
<!-- 顶部导航 end -->
<div class="blank0"></div>
<!-- 头部部分 -->
<div class="w1200 jcwz_top_box" id="jczw01">
 <a href=""><img class="logo" src="images/jcwz_logo.png" /></a>
 <div class="banner"><a href=""><img src="images/banner.jpg" /></a></div>
 
</div>
<!-- 头部部分 end -->
<div class="blank0"></div>
<!-- 荆楚问政导航 -->
<div class="jcwz_nav" id="jczw01">
 <div class="w1200">
  <ul class="list_across">
    <li class="first"><a href="./home.html">首页</a></li>
    <li><a href="./province.html">省直厅局</a></li>
    <li><a href="./city.html">市州区县</a></li>
    <li><a href="">每日回复</a></li>
    <li><a href="">问政报告</a></li>
    <li><a href="./reply.html">回复率排行榜</a></li>
    <li class="last"><a href="./satisfied.html">满意度排行榜</a></li>
  </ul>
 </div>
</div>
<!-- 荆楚问政导航 end -->
<div class="blank0"></div>
<!-- 荆楚问政列表主体 -->
<div class="w1200" id="jcwz_list_main">
 <div class="jcwz_list_left">
  <div class="jcwz_position"><a href="./home.html">首页</a> > <span>省直厅局</span></div>
  <div class="blank10"></div>
  <div class="jcwz_sztj"> 
   <ul class="list_across">
    <li v-for="(item,index) in bureaulist" :kry="index"><a :href="'provinceDetail.html?dept_id='+item.dept_id+'&dept_name='+item.dept_name">{{item.dept_name.substring(0, 13) + (item.dept_name.length > 13 ? '...' : '')}}</a></li>
   </ul>
  </div>
    
  
 </div>
 <div class="jcwz_list_right">
  <div class="jcwz_lyrk">
   <a href="./index.html" class="link_btn"></a> 
   <div class="blank10" style="height:50px"></div>  
   <p><span class="left">电话：027-88567717</span> <span class="right">传真：027-88568153</span></p>
   <p><span class="left">QQ：2842635040</span> <span class="right">邮箱：2842635040@qq.com</span></p>
  </div> 
  
  <div class="blank0"></div>
  <div class="right_box">
   <div class="nav_box01"><strong>最新回复</strong>
    <!-- <a href="">更多>></a> -->
  </div>
   <div class="blank0"></div>
   <ul class="list_across">
        <li v-for="(item,index) in AlreadyReplylisty" :key="index"><a :href="'detail.html?id='+item.id">{{item.title.substring(0, 15) + (item.title.length > 15 ? '...' : '')}}</a></li>
   </ul>
  </div>
  
  <div class="blank0"></div>
  <div class="right_box">
   <div class="nav_box02"><strong>未回应留言</strong>
    <!-- <a href="">更多>></a> -->
  </div>
   <div class="blank0"></div>
   <ul class="list_across">
        <li v-for="(item,index) in notReplylisty" :key="index"><a :href="'detail.html?id='+item.id">{{item.title.substring(0, 15) + (item.title.length > 15 ? '...' : '')}}</a></li>
   </ul>
  </div>  
  
 </div>
</div>
<!-- 荆楚问政列表主体 end -->
<div class="blank20"></div>
<div class="lmy_bottom_div"> 
 <div class="w1200 lmy_bottom_box">
  <p>Copyright © 2001-2019 湖北荆楚网络科技股份有限公司 All Rights Reserved</p>
<p class="cWhite"><a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">营业执照</a> － <a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">增值电信业务许可证</a> － <!--<a href=//www.cnhubei.com/gg/website/jczxqyfl20031205.htm target=_blank ignoreapd=1 class=cWhite>广告经营许可证</a> － --><a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">互联网出版机构</a> － <a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">网络视听节目许可证</a> － <a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">广播电视节目许可证</a></p>

  <p class="cWhite"><a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">关于我们</a> - <a ignoreapd="1" target="_blank" href="//www.cnhubei.com/about/">版权声明</a> - <a target="_blank" ignoreapd="1" style="color:#F00" href="//www.cnhubei.com/2018ggfw/ggfw_sy.html">广告服务</a> － <a ignoreapd="1" target="_blank" href="http://authors.cnhubei.com/">在线投稿</a></p> 
  <p>版权为 荆楚网 www.cnhubei.com 所有 未经同意不得复制或镜像 </p>  
  
 </div>
</div>
</div>
</body>
</html>
<script type="text/javascript" src="js/common.js"></script>
<script type="text/javascript" src="js/jcwz_sztj.js"></script>